.video-header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

          &_video-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh; 
            overflow: hidden;

                    video {
                      min-width: 100%; 
                      min-height: 100%;
                    }
          }


          &_content-container {
            // @include border;
            padding: 0 1rem;
            text-align: center;
            z-index: 3;

            @include atMedium {
              padding: 2.5rem 6rem;
            }
      

                  h1 {
                    font-size: 3rem;
                    margin-bottom: 1em;
                  }

                 p {
                    font-size: 1.3rem;
                    line-height: 2;
                    margin-bottom: 5em;
                  }

                 a {
                    // @include border;
                    background-color: rgba(247, 223, 223, 0.5);
                    margin-top: 20px;
                    padding: 1rem 2rem;
                    font-size: 1.6rem;
                    text-decoration: none;
                    color: black;
                    border-radius: 40px;
                  }

                 a:hover {
                    background-color: rgba(241, 235, 236, 0.872);
                  }
      }
}