* {
  // border: 1px solid black;
}

main {
  width: 100%;
  height: auto;

      a {
        display: inline-block;
        width: 65%;
      }


      section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        margin-bottom: 8rem;
        cursor: pointer;

        @include atMedium {
         padding: 1rem 4rem 10rem 4rem;
        }

            h1 {
              width: 100%;
              margin-bottom: 2rem;

              @include atMedium {
                width: 90%;
              }
            }

            img {
              margin-bottom: 2rem;
              width: 700px;
              height: 600px;
              object-fit: fill;
            }

            p {
              width: 100%;
              margin-bottom: 1rem;
              text-align: center;

              @include atMedium {
                width: 75%;
              }
            }
      }
}