* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 
body {  
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
}